= content_for :nav do
  - if student.cohort_id?
    %a.back{href: grading_cohort_students_path(student.cohort)} Students

%main
  %h1 Puzzle scores for #{student.display_name}
  
  .metadata-group
    .status
      Name:
      .status-message= student.name
    .status
      Email:
      .status-message= student.email

  .admin-form.compact
    = form_with model: [:grading, student] do |form|
      = field_row form, :select, :cohort_id, 'Cohort', [[]] + Cohort.all.map { |c| [c.name_and_instructor, c.id] }
      = form.submit "Move"

  %table.index
    %tr.header
      %th= #puzzle type
      %th Score
      %th Pending
      %th Graded
    - student.puzzle_statuses.each do |status|
      %tr
        %th= status.puzzle_type.name
        = render 'puzzle_score_cell', status:
        %td
          - status.attempts.each do |attempt|
            - if [AttemptState.available, AttemptState.submitted].include?(attempt.state)
              = link_to attempt.state, grading_attempt_path(attempt)
        %td
          - status.attempts.each do |attempt|
            - if AttemptState.graded == attempt.state
              = link_to attempt.score, grading_attempt_path(attempt)
    %tr.footer
      %th Total
      %td.numeric= percent_format student.total_score, decimal_places: 1
      %td{colspan: 2}
        .aside (#{student.puzzle_score_denominator} puzzles = full credit)