%main.grading
  .filters
    .choices
      .title State
      .group
        = filter_link :state, "all"
      .group
        - AttemptState.all.each do |state|
          = filter_link :state, state
  %table.index.row-click
    - @attempts.includes(:student, :puzzle_type).order(created_at: :desc).each do |attempt|
      %tr
        %td= link_to attempt.lookup_code, grading_attempt_path(attempt)
        %td= attempt.student.name || attempt.student.email
        %td= attempt.puzzle_type.name
        %td= attempt.state
        %td= attempt.score
    
