= content_for :nav do
  %a.back{href: grading_attempts_path} All Puzzles

%main
  %h1 Puzzle #{attempt.lookup_code}
  .status
    Name:
    .status-message= attempt.student.name
  .status
    Email:
    .status-message= attempt.student.email
  - if attempt.solution_html.blank?
    .status
      Status:
      .status-message= attempt.state
  - else
    .sticky
      = form_with model: [:grading, attempt] do |form|
        .choices
          .title Grading:
          .group
            .choice= labeled_radio_button(form, :grading_status, :not_submitted, "Not submitted")
          .group
            .choice= labeled_radio_button(form, :grading_status, :submitted, "Awaiting grading")
          .group
            .choice= labeled_radio_button(form, :grading_status, :no_credit, "No credit")
            .choice= labeled_radio_button(form, :grading_status, :half_credit, "Half credit")
            .choice= labeled_radio_button(form, :grading_status, :full_credit, "Full credit")
          = form.submit "Save", class: 'big'

    %h2 Solution
    = render "partials/puzzle_content", html: attempt.solution_html

  %h2 Generator log
  %pre= attempt.generator_log
