%main
  %h1 Conceptual Mastery Puzzles

  %ul.puzzle-status-overview
    - current_student.puzzle_statuses.each do |status|
      %li.puzzle-status
        .puzzle-type
          .name= status.puzzle_type.name
          .desc= status.puzzle_type.description
        .info.score
          = describe_attempt_score(status.score)

        - if latest_state = status.latest_attempt&.state
          .info.attempt
            Latest attempt:
            .state{class: latest_state}
              = describe_attempt_state(latest_state)
            - if AttemptState.queued == latest_state
              .autoreload
            - if [AttemptState.available, AttemptState.graded].include?(latest_state)
              %a{href: attempt_path(status.latest_attempt)} View puzzle

        - if status.latest_attempt&.generator_failed?
          .info= render 'generator_failed', attempt: status.latest_attempt

        - if status.new_attempt_allowed
          = render "new_attempt_button", puzzle_type: status.puzzle_type
